### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore specific exercise directories

src/P1DecoratorPattern/Ex1_CarDecorator/
src/P3AbstractFactoryPattern/Ex1_ArchitectOffice/
src/P3AbstractFactoryPattern/Ex2_CarProgram/
src/P7StatePattern/Ex01CoffeeMachineState/

src/P9ChainOfRespPattern/Ex01GumballCorporation/
src/P4CommandPattern/Ex1HouseExtension/
src/P6TemplatePattern/Ex01Restaurant/
src/P11FlyweightPattern/Ex01_PaintingBrush/
